body{

    background-color: cyan;
    user-select: none;
    width: 1240px;
    height: 800px;
}

#canvas{

    z-index: 1;
    border-color: brown;
    background-color: white;
    border: 1px solid rgb(255, 255, 255);

}